/* .TopNav{
   width:80%;
    display: flex;
    margin-left:10%;
    margin-top: 25px;
    justify-content:flex-start;
    justify-content: space-evenly;
}
.col_1{
    display: flex;

}
 .search{
    height:35px;
    width:439px;
    border-radius: 25px;
    background-color: #FFFFFF;
    margin-right:43px;


}
 .nav{
    border:none;
}

.upload {
    background-color: var(--green);
    height:35px;
    border-radius: 25px;
    padding:16px;
    color:var(--oncolor-text);

}

p{
   padding: 12px;


} */

a{
  text-decoration: none;
}
input{
  width: 20px;
  height: 30px;
  border: 40%;
}
